.App { 
  width: 95%;
  margin: auto;
}
body{
  background-color: gainsboro;

}
.country{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.country>div{
  width: 22%;
}
.country>div img{
  width: 100%;
}